/* Colour References

Black: #000
White: #fff
Grey: #f3f3f3
Dark Grey: #f5f5f5
Black Grey: #949494
*/

/* General */

html {
    font-size: 62.5%;
	height: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #949494;
	font-size: 1.7rem;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

img {
    max-width: 100%;
	height: auto;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    color: #fff !important;
}

ul li:hover {
    cursor: pointer;
}

/* Buttons */

.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
}

.btn-success {
    width: 180px;
    padding: 10px;
    margin: 25px 0px 0px 0px;
    background-color: #1c8a43;
}

.btn-success:hover {
    background-color: #1c8a43;
}

.btn-secondary {
    background-color: transparent;
    border: 3px solid #1c8a43;
    color: #1c8a43;
}

.btn-secondary:hover {
    background-color: #a4d0b3;
    color: #1c8a43;
}

.btn:hover {
   background: #000;
}

.btn-default {
    background: #000;
    color: #fff;
    opacity: .8;
    border-radius: 0px;
    border: none;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

/* Utilities */

.u-center-text { 
	text-align: center !important; 
}

.u-justify-text {
	text-align: justify;
}

.u-margin-bottom-small { 
	margin-bottom: 1.5rem !important; 
}

.u-margin-bottom-medium { 
	margin-bottom: 4rem !important; 
}

.u-margin-bottom-big { 
	margin-bottom: 8rem !important; 
}

.u-margin-bottom-large {
	margin-bottom: 10rem !important;
}

.u-margin-bottom-xlarge {
	margin-bottom: 15rem !important;
}

.u-margin-bottom-xxlarge {
	margin-bottom: 20rem !important;
}

.u-margin-top-big { 
	margin-top: 8rem !important; 
}

.u-margin-top-large { 
	margin-top: 10rem !important; 
}

.u-margin-top-xlarge {
	margin-top: 15rem !important;
}

.u-margin-top-xxlarge {
	margin-top: 20rem !important;
}

.u-margin-top-medium {
	margin-top: 6rem !important;
}

.u-margin-top-small {
	margin-top: 4rem !important;
}

.u-margin-top-xsmall {
	margin-top: 3rem !important;
}

.u-margin-top-xxsmall {
	margin-top: 1.5rem !important;
}

.u-margin-top-xxxsmall {
	margin-top: 2rem !important;
}

.img-padding-small {
	padding: 25px;
}

.part-img {
    margin-top: 25px;
}

/* Layout */

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
  padding-top: 10px;
}

.navbar {
    background-color: #000 !important;
    border: none; 
}

.nav.navbar-nav.navbar-right li a {
    color: #fff;
}

.navbar-toggle {
    color: white !important;
    border: white; 
}

.home-text {
    padding: 20px 20px;
    text-align: center;
    line-height:1.5;
}

.services-styles {
    text-align: center;
    margin-top: 5%;
}

/* Custom Icon Fonts */

.glyph-services {
    margin-bottom: 12%;
}

.glyphicon {
    font-size: 25px;
}

.glyphicon:hover {
    color: #242323;
    cursor:pointer;
}

.fa-calendar-check:hover, .fa-map-signs:hover {
	color: #242323;
	cursor:pointer;
}

.glyphicon-earphone, .glyphicon-envelope {
    padding-right: 5px;
}

.fa-map-signs, .fa-calendar-check {
	font-size: 25px;
}

/* Footer Styles */

footer {
    background-color: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

ul.unstyled li {
    display: block;
}

ul.unstyled li a {
    font-size: 11px;
}

ul.unstyled {
    padding: 0;
}

.glyphicon-heart {
    font-size: 11px !important;
}

.advert-heading {
	font-size: 1.5rem;
}

/* Lightbox Gallery */

h1.gallery-title {
    padding-bottom: 30px;
    text-align: center;
}

.img-rounded {
	height: 250px;
	width: 350px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  cursor: pointer;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 2em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  overflow: auto;
}

.modal-content {
  position: relative;
  margin: auto;
  width: 600px;
  height: 400px;
}

.close {
  position: absolute;
  color: #fff;
  opacity: 1;
  top: 100px;
  right: 50px;
  font-size: 40px;
}

.mySlides {
  display: none;
}

.prev-lightbox,
.next-lightbox {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev-lightbox {
	left: 50px;
}

.next-lightbox {
  right: 50px;
  border-radius: 3px 0 0 3px;
}

.caption-container {
  text-align: center;
  padding: 15px; 
  color: #fff;
  cursor: pointer;
  border-radius: none;
}

.lightbox-img {
    height: 400px;
    width: 600px;
}

.gallery-wrapper {
    width:80%;
    margin:0 auto;
    margin-top: 2%;
}

/* Contact Section */

.form-control {
    border-radius: 0px;
}

.form-control:focus{
    border-color: #f3f3f3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#googleMap {
	width: 100%;
	height: 400px;
}

/* Placeholder Colors */

.form-control::-webkit-input-placeholder {
	color:#000;
}
.form-control:-moz-placeholder { /* Firefox 18- */
	color:#000;
}
 
.form-control::-moz-placeholder { /* Firefox 19+ */
	color:#000;
}
 
.form-control:-ms-input-placeholder {
	color:#000;
}

/* Blog Page */

.blog-container {
    width: 50%;
    margin: 0 auto;
}

.post-img {
    max-width: 100%;
    height: auto;
}

.post-excerpt {
	position: relative;
	font-size: 15px;
}

.post-details {
    margin: 10px 0px 10px 0px;
}

time {
    font-family: 'Lato', sans-serif;
    padding: 5px;
}

/* Partners */

.container-wrapper {
    min-width: 60%;
    max-width: 60%;
    margin: 0 auto;
}

/* To Top Button */

.scrolltop {
	display: none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}

.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color:#949494;
}

*/ Slider */

 #myCarousel {
	overflow: hidden;
	min-height: 300px;
	position: relative;
	background: #60bdff;
}

#myCarousel .carousel-inner {
	width: 100%;
	margin: auto;
}

.myCarousel_slide {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	margin: auto;
	padding: 20px;
	margin-top: 40px;
	position: relative;
	text-align: center;
}

.myCarousel_indicators .carousel-indicators {
	left: 0;
	margin: 0;
	width: 100%;
	font-size: 0;
	height: 20px;
	bottom: 100px;
	padding: 0 5px;
	overflow-x: auto;
	overflow-y: hidden;
	position: absolute;
	text-align: center;
	white-space: nowrap;
}

.myCarousel_indicators .carousel-indicators li {
	padding: 0;
	width: 10px;
	height: 10px;
	border: none;
	text-indent: 0;
	margin: 2px 3px;
	cursor: pointer;
	display: inline-block;
	background: #fff;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.myCarousel_indicators .carousel-indicators .active {
	padding: 0;
	width: 10px;
	height: 10px;
	border: none;
	margin: 2px 3px;
	background-color: #000;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.myCarousel_indicators .carousel-indicators::-webkit-scrollbar {
	height: 3px;
}

.myCarousel_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.myCarousel_control_button .carousel-control {
	top: 320px;
	width: 40px;
	bottom: auto;
	height: 40px;
	color: #000;
	font-size: 20px;
	cursor: pointer;
	font-weight: 900;
	overflow: hidden;
	line-height: 38px;
	text-shadow: none;
	text-align: center;
	position: absolute;
	background: #fff;
	border: 2px solid #fff;
	opacity: 1;
	border-radius: 100%;
	-webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
	transition: all 0.6s cubic-bezier(0.3,1,0,1);
}

.myCarousel_control_button .carousel-control.left {
	left: 7%;
	right: auto;
}

.myCarousel_control_button .carousel-control.right {
	right: 7%;
	left: auto;
}

.myCarousel_control_button .carousel-control.left:hover,
.myCarousel_control_button .carousel-control.right:hover{
	color: #000;
	background: #fff;
	border: 2px solid #fff;
}

.post-social--header {
	text-align: center;
	font-weight: 800;
	letter-spacing: .3rem;
}

.post-social--icons, .fa-facebook, .fa-twitter {
	text-align: center;
	padding: 15px;
	
}

.post-sidebar {
	border: solid 1px #f5f5f5;
	width: 100%;
	height: auto;
}

.post-sidebar--header, h2 {
	padding: 20px;
}

.post-sidebar--img {
	width: 150px;
	height: 100px;
	display: inline-block;
	padding: 20px;
}

.post-sideabr--text {
	display: inline-block;
	padding: 20px;
}

/* Media Queries */

/* Max width 600px, 900px and 1,200px */


@media only screen and (max-width: 600px) {

	.img-rounded.responsive {
		margin: 0 auto;
		padding: 10px;
		border-radius: 5px !important;
	}

	.img-padding-small {
		padding: 0px;
	}
	
	.myCarousel_control_button .carousel-control.left {
		left: 7%;
		top: 55%;
		right: auto;
	}

	.myCarousel_control_button .carousel-control.right {
		right: 7%;
		top: 55%;
		left: auto;
	}
}

@media only screen and (max-width: 900px) {
   .img-rounded.responsive {
		margin: 0 auto;
		padding: 10px;
		border-radius: 5px !important;
	}
	
	.myCarousel_control_button .carousel-control.left {
		left: 7%;
		top: 50%;
		right: auto;
	}

	.myCarousel_control_button .carousel-control.right {
		right: 7%;
		top: 50%;
		left: auto;
	}
	
}

@media only screen and (max-width: 1200px) {
   
	
}

/* Custom Media Queries - Device Sizes */

/* iphone 6s */

@media screen and (max-width: 414px) and (min-width: 736px) {
	
	.myCarousel_control_button .carousel-control.left {
		left: 7%;
		top: 50%;
		right: auto;
	}

	.myCarousel_control_button .carousel-control.right {
		right: 7%;
		top: 50%;
		left: auto;
	}

}
